<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <h1>Welcome <label id="name"></label></h1>

    <br>
    <label>Username: <span id="username"></span></label><br>
    <label>E-mail: <span id="email"></span></label><br>
    <label>Description: <span id="description"></span></label><br>

    <br>
    <button type="button" id="logout_button">Log out</button>

    <h3>Costs:</h3>
    <table id="costsTable" border="solid_black">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
    </table>
    <button id="insert_cost_button">Insert cost</button>
    <br>

    <h3>Incomes:</h3>
    <table id="incomesTable" border="solid_black">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
    </table>
    <button id="insert_income_button">Insert income</button>
    <br>


    <script src="./static/dashboard.js"></script>
</body>
</html>