<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <h4>Insert user</h4>
    <form id="userform">
        <label>Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label>Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label>Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label>E-mail:</label>
        <input type="text" id="email" name="email">
        <br>
        <label>Description:</label>
        <input type="text" id="description" name="description">
        <br>
        <button type="submit">Save</button>
    </form>

    <div id="responseMessage"></div>

    <br>
    <a href="/"><button>Back</button></a>
    
    <script src="./static/insert_user.js"></script>
</body>
</html>