<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <h4>Insert user</h4>
    <form action="http://127.0.0.1:8081/users/insert_user" method="post" id="userform">
        <label>Username:</label>
        <input type="text" id="user" name="user">
        <br>

        <label>Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Save</button>
    </form>

    <div id="responseMessage"></div>

    <br>
    <a href="/"><button>Back</button></a>
    

    <script>
        // Detecta cuando se envía el formulario
        document.getElementById("userform").addEventListener("submit", async (e) => {
            e.preventDefault(); // Evita que se envía el formulario normalmente

            const formData = new FormData(); // Creamos un formdata para almacenar los valores que se enviarán a metodo post
            formData.append("user", document.getElementById("user").value);
            formData.append("password", document.getElementById("password").value);

            // Se obtiene la respuesta haciendo una solicitud al metodo post para insertar un usuario
            const response = await fetch("http://127.0.0.1:8081/users/insert_user", { 
                method: "POST",
                body: formData
            });

            const result = await response.json(); // Se convierte en json

            // Se agrega la respuesta al html para que redireccione a la url de la api
            document.getElementById("responseMessage").innerText = result.message + ": " + result.user;
        });
    </script>
</body>
</html>