<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <h4>Insert user</h4>
    <form action="http://127.0.0.1:8081/users/insert_user" method="post">
        <label>Username:</label>
        <input type="text" id="user" name="user">
        <br>

        <label>Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Save</button>
    </form>

    <br>
    <a href="/"><button>Back</button></a>

    
</body>
</html>