<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    
    <form id="formuser">
        <label>Username: </label>
        <input type="text" id="username">
        <br>
        <label>Password: </label>
        <input type="password" id="password">
        <br>
        <button type="submit">Login</button><br>
        <a href="./insert_user"><button type="button">Create account</button></a>
    </form>

    <script src="./static/login.js"></script>
</body>
</html>